<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anthony.timelapscontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/time_lapse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/time_lapse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CameraActivity"
            android:label="@string/Etat_Camera"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewExecutionActivity"
            android:label="@string/Nouvelle_Execution"/>
        <activity android:name=".ConsultActivity"
            android:label="@string/Consultation_Execution"/>
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.SaveVideoService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
    </application>

</manifest>